@font-face {
  font-family: "DancingScriptRegular";
  src: url("DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #665544;
  padding: 0 15%;
}

h1 {
  text-align: center;
  color: blue;
  font-family: "DancingScriptRegular";
  font-size: 400%;
  padding: 12px;
  line-height: 2em;
}

p {
  font-family: "DancingScriptRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 200%;
  padding: 12px;
  line-height: 2em;
}

i {
  color: darkgreen;
}

a {
  color: inherit;
}

a,
a:hover,
a:visited {
  color: #665544;
}
