body {
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-family: monospace;
}

.slider {
  width: 940px;
  max-width: 100vw;
  height: 430px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 940px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .text {
  position: absolute;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  top: 8px;
  font-style: italic;
  text-align: center;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.dots li.active {
  width: 30px;
}

.validation {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}
