body {
  background: #efeff3;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  clear: both;
  margin: 0 auto 75px auto;
  width: 100%;
  overflow: hidden;
}
.top {
  background: #44475a;
  height: 180px;
  border-top: 20px solid #282a36;
}

.top .title {
  width: 700px;
  margin: 38px auto 0 auto;
}

.title h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

.content {
  padding-bottom: 20px;
}

.content .card.first {
  margin-top: -80px;
}

.card {
  position: relative;
  background: #f8f8f2;
  padding: 50px;
  width: 600px;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
}

.card h2 {
  font-size: 21px;
  font-weight: 500;
}

.card h2 a {
  color: #14213d;
  text-decoration: none;
}

.card .text {
  color: #6272a4;
  margin-top: 20px;
  font-size: 15px;
  line-height: 22px;
}

.card .text a {
  color: #ff5555;
}
