aside, article, section, header, footer, nav {
	display: block;
}
html {
    height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #3f3f3f;
  font-size: 16px;
  line-height: 24px;
  background: url("https://cdn.pixabay.com/photo/2021/04/04/23/14/background-6151744_1280.png") no-repeat center center fixed;
  height: 100%;
  background-size: cover;
}
a {
  color: #000088;
}
a:hover {
  color: #880000;
}
#wrap {
  margin: 40px auto;
  width: 940px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
header {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f9f9f9;
}
header h1 {
  margin: 0;
  padding: 0 0 0 30px;
  font-weight: bold;
  color: #3f3f3f;
  font-size: 38px;
  line-height: 65px;
  letter-spacing: -1px;
}
header h2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 20px;
  padding: 5px 12px;
  font-weight: normal;
  color: #171717;
  font-size: 22px;
  letter-spacing: -1px;
  background: #ffee9f;
  border: 1px solid #ffe25f;
  display: inline;
}
header .hgroup {
    padding: 20px 0 40px 0;
}
nav {
  background: #f1f1f1;
  padding: 10px 20px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  display: inline;
  padding: 0 20px 0 0;
}
nav li a {
  text-decoration: none;
}
nav li .active{
  text-decoration: underline;
}

/*  ****************************  */
/*  ARTIFACT - CARDS              */
/*  ****************************  */

.artifacts-img {
    margin: 1em auto;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    border: 2px solid #ffe25f;
}
.artifacts-img a {
color: inherit;
}
.artifacts-img .description {
padding: 2%;
background: #ffee9f;
}
.artifacts-img .description h4 {
font-family: Verdana, sans-serif;
}
.artifacts-img .description h4 {
line-height: 1;
margin: 0;
font-size: 1.7em;
}
.artifacts-img figcaption {
font-size: .5em;
text-align: center;
}
.artifacts-img .description .read-more {
text-align: right;
}
.artifacts-img .description .read-more a {
color: #12c;
text-decoration: underline;
display: inline-block;
position: relative;
}
.artifacts-img p {
position: relative;
margin: 1em 0 0;
}

/*  ****************************  */
/*  ASIDE                         */
/*  ****************************  */

aside {
  font-size: 14px;
  float: right;
  width: 300px;
  color: #fff;
  margin: 30px 20px 20px 0;
}
aside h3 {
  font-weight: normal;
  background: #5f5f5f;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
}
aside ul {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0 10px 10px 10px;
}
aside ul li a {
  color: #12c;
  text-decoration: none;
  border-bottom: 1px dotted #12c;
}
aside ul li a:hover {
  color: #c12;
  border-bottom: 1px dotted #c12;
}

/*  ****************************  */
/*  MAIN - CREATIVE               */
/*  ****************************  */

main {
  float: left;
  width: 580px;
  margin: 10px 0 40px 20px;
}
.clients-main {
    width: 100%!important;
    margin:0!important;
}
main > section.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}
main > section.clients > article p {
    text-align: center;
}
main > section.clients > article p a {
    color: #12c;
    text-decoration: none;
    border-bottom: 1px dotted #12c;
}
img.thumbnail {
    width: 120px;
    height: 120px;
}
h2.clients {
    margin-left: 20px;;
}
section.video {
    text-align: center;
    margin-top: 3em;
}
main h2 {
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
}
main .signature {
    font-family: Brush Script MT, serif;
    color: #AAE4E5;
    font-size: 2em;
  }
main article .coursework-name {
    margin-bottom: 0;
}
main article .professor-name {
    margin-top: 0;
    font-style: italic;
}

/*  ****************************  */
/*  FOOTER                        */
/*  ****************************  */

footer {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  background: #3f3f3f;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #1f1f1f;
}
footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
footer a:hover {
  border-bottom: 1px dotted #ccc;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
